<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-events-heading" data-cy="EventsCreateUpdateHeading" jhiTranslate="gatewayApp.events.home.createOrEditLabel">
        Create or edit a Events
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.eventId.value !== null">
          <label class="form-label" jhiTranslate="gatewayApp.events.eventId" for="field_eventId">Event Id</label>
          <input
            type="number"
            class="form-control"
            name="eventId"
            id="field_eventId"
            data-cy="eventId"
            formControlName="eventId"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.events.owner" for="field_owner">Owner</label>
          <input type="number" class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.events.kind" for="field_kind">Kind</label>
          <input type="number" class="form-control" name="kind" id="field_kind" data-cy="kind" formControlName="kind" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.events.date" for="field_date">Date</label>
          <input type="text" class="form-control" name="date" id="field_date" data-cy="date" formControlName="date" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.events.isLunar" for="field_isLunar">Is Lunar</label>
          <input type="checkbox" class="form-check" name="isLunar" id="field_isLunar" data-cy="isLunar" formControlName="isLunar" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.events.profiles" for="field_profiles">Profiles</label>
          <select
            class="form-control"
            id="field_profiles"
            data-cy="profiles"
            name="profiles"
            formControlName="profiles"
            [compareWith]="compareProfiles"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="profilesOption" *ngFor="let profilesOption of profilesSharedCollection">
              {{ profilesOption.profileId }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
