<div>
  <h2 id="page-heading" data-cy="ExpensesHeading">
    <span jhiTranslate="gatewayApp.expenses.home.title">Expenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.expenses.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expenses"
        [routerLink]="['/expenses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.expenses.home.createLabel"> Create a new Expenses </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="gatewayApp.expenses.home.notFound">No Expenses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="expenses && expenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="expenseId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.expenseId">Expense Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="owner">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.owner">Owner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="content">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.content">Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cost">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.cost">Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tag">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.tag">Tag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="day">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.day">Day</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modifiedBy">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.modifiedBy">Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modifiedOn">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.modifiedOn">Modified On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="types.typeId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.types">Types</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="profiles.profileId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.expenses.profiles">Profiles</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expenses of expenses; trackBy: trackExpenseId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expenses', expenses.expenseId, 'view']">{{ expenses.expenseId }}</a>
          </td>
          <td>{{ expenses.owner }}</td>
          <td>{{ expenses.content }}</td>
          <td>{{ expenses.cost }}</td>
          <td>{{ expenses.tag }}</td>
          <td>{{ expenses.day | formatMediumDate }}</td>
          <td>{{ expenses.createdBy }}</td>
          <td>{{ expenses.createdOn | formatMediumDatetime }}</td>
          <td>{{ expenses.modifiedBy }}</td>
          <td>{{ expenses.modifiedOn | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="expenses.types">
              <a [routerLink]="['/types', expenses.types.typeId, 'view']">{{ expenses.types.typeId }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="expenses.profiles">
              <a [routerLink]="['/profiles', expenses.profiles.profileId, 'view']">{{ expenses.profiles.profileId }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expenses', expenses.expenseId, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expenses', expenses.expenseId, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(expenses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="expenses && expenses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
