<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="events">
      <h2 data-cy="eventsDetailsHeading"><span jhiTranslate="gatewayApp.events.detail.title">Events</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.events.eventId">Event Id</span></dt>
        <dd>
          <span>{{ events.eventId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.events.owner">Owner</span></dt>
        <dd>
          <span>{{ events.owner }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.events.kind">Kind</span></dt>
        <dd>
          <span>{{ events.kind }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.events.date">Date</span></dt>
        <dd>
          <span>{{ events.date }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.events.isLunar">Is Lunar</span></dt>
        <dd>
          <span>{{ events.isLunar }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.events.profiles">Profiles</span></dt>
        <dd>
          <div *ngIf="events.profiles">
            <a [routerLink]="['/profiles', events.profiles.profileId, 'view']">{{ events.profiles.profileId }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/events', events.eventId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
