<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-profiles-heading" data-cy="ProfilesCreateUpdateHeading" jhiTranslate="gatewayApp.profiles.home.createOrEditLabel">
        Create or edit a Profiles
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.profileId.value !== null">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.profileId" for="field_profileId">Profile Id</label>
          <input
            type="number"
            class="form-control"
            name="profileId"
            id="field_profileId"
            data-cy="profileId"
            formControlName="profileId"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.username" for="field_username">Username</label>
          <input type="text" class="form-control" name="username" id="field_username" data-cy="username" formControlName="username" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.nickname" for="field_nickname">Nickname</label>
          <input type="text" class="form-control" name="nickname" id="field_nickname" data-cy="nickname" formControlName="nickname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.birthday" for="field_birthday">Birthday</label>
          <div class="input-group">
            <input
              id="field_birthday"
              data-cy="birthday"
              type="text"
              class="form-control"
              name="birthday"
              ngbDatepicker
              #birthdayDp="ngbDatepicker"
              formControlName="birthday"
            />
            <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.bio" for="field_bio">Bio</label>
          <input type="text" class="form-control" name="bio" id="field_bio" data-cy="bio" formControlName="bio" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.modifiedBy" for="field_modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.profiles.modifiedOn" for="field_modifiedOn">Modified On</label>
          <div class="d-flex">
            <input
              id="field_modifiedOn"
              data-cy="modifiedOn"
              type="datetime-local"
              class="form-control"
              name="modifiedOn"
              formControlName="modifiedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
