<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="debtLoan">
      <h2 data-cy="debtLoanDetailsHeading"><span jhiTranslate="gatewayApp.debtLoan.detail.title">Debt Loan</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.debtLoan.id">Id</span></dt>
        <dd>
          <span>{{ debtLoan.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.loanUserId">Loan User Id</span></dt>
        <dd>
          <span>{{ debtLoan.loanUserId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.debtUserId">Debt User Id</span></dt>
        <dd>
          <span>{{ debtLoan.debtUserId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.cost">Cost</span></dt>
        <dd>
          <span>{{ debtLoan.cost }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.deadline">Deadline</span></dt>
        <dd>
          <span>{{ debtLoan.deadline | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.datOfPayment">Dat Of Payment</span></dt>
        <dd>
          <span>{{ debtLoan.datOfPayment | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.debts">Debts</span></dt>
        <dd>
          <div *ngIf="debtLoan.debts">
            <a [routerLink]="['/profiles', debtLoan.debts.profileId, 'view']">{{ debtLoan.debts.profileId }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.debtLoan.loans">Loans</span></dt>
        <dd>
          <div *ngIf="debtLoan.loans">
            <a [routerLink]="['/profiles', debtLoan.loans.profileId, 'view']">{{ debtLoan.loans.profileId }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/debt-loan', debtLoan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
