<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="expenses">
      <h2 data-cy="expensesDetailsHeading"><span jhiTranslate="gatewayApp.expenses.detail.title">Expenses</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.expenses.expenseId">Expense Id</span></dt>
        <dd>
          <span>{{ expenses.expenseId }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.owner">Owner</span></dt>
        <dd>
          <span>{{ expenses.owner }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.content">Content</span></dt>
        <dd>
          <span>{{ expenses.content }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.cost">Cost</span></dt>
        <dd>
          <span>{{ expenses.cost }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.tag">Tag</span></dt>
        <dd>
          <span>{{ expenses.tag }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.day">Day</span></dt>
        <dd>
          <span>{{ expenses.day | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.createdBy">Created By</span></dt>
        <dd>
          <span>{{ expenses.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.createdOn">Created On</span></dt>
        <dd>
          <span>{{ expenses.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.modifiedBy">Modified By</span></dt>
        <dd>
          <span>{{ expenses.modifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.modifiedOn">Modified On</span></dt>
        <dd>
          <span>{{ expenses.modifiedOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.types">Types</span></dt>
        <dd>
          <div *ngIf="expenses.types">
            <a [routerLink]="['/types', expenses.types.typeId, 'view']">{{ expenses.types.typeId }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gatewayApp.expenses.profiles">Profiles</span></dt>
        <dd>
          <div *ngIf="expenses.profiles">
            <a [routerLink]="['/profiles', expenses.profiles.profileId, 'view']">{{ expenses.profiles.profileId }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/expenses', expenses.expenseId, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
