<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-types-heading" data-cy="TypesCreateUpdateHeading" jhiTranslate="gatewayApp.types.home.createOrEditLabel">
        Create or edit a Types
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.typeId.value !== null">
          <label class="form-label" jhiTranslate="gatewayApp.types.typeId" for="field_typeId">Type Id</label>
          <input
            type="number"
            class="form-control"
            name="typeId"
            id="field_typeId"
            data-cy="typeId"
            formControlName="typeId"
            [readonly]="true"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.owner" for="field_owner">Owner</label>
          <input type="number" class="form-control" name="owner" id="field_owner" data-cy="owner" formControlName="owner" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.modifiedBy" for="field_modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.modifiedOn" for="field_modifiedOn">Modified On</label>
          <div class="d-flex">
            <input
              id="field_modifiedOn"
              data-cy="modifiedOn"
              type="datetime-local"
              class="form-control"
              name="modifiedOn"
              formControlName="modifiedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.types.profiles" for="field_profiles">Profiles</label>
          <select
            class="form-control"
            id="field_profiles"
            data-cy="profiles"
            name="profiles"
            formControlName="profiles"
            [compareWith]="compareProfiles"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="profilesOption" *ngFor="let profilesOption of profilesSharedCollection">
              {{ profilesOption.profileId }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
