<div>
  <h2 id="page-heading" data-cy="DebtLoanHeading">
    <span jhiTranslate="gatewayApp.debtLoan.home.title">Debt Loans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.debtLoan.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-debt-loan"
        [routerLink]="['/debt-loan/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.debtLoan.home.createLabel"> Create a new Debt Loan </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="debtLoans?.length === 0">
    <span jhiTranslate="gatewayApp.debtLoan.home.notFound">No Debt Loans found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="debtLoans && debtLoans.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loanUserId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.loanUserId">Loan User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="debtUserId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.debtUserId">Debt User Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cost">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.cost">Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deadline">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.deadline">Deadline</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="datOfPayment">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.datOfPayment">Dat Of Payment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="debts.profileId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.debts">Debts</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="loans.profileId">
            <div class="d-flex">
              <span jhiTranslate="gatewayApp.debtLoan.loans">Loans</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let debtLoan of debtLoans; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/debt-loan', debtLoan.id, 'view']">{{ debtLoan.id }}</a>
          </td>
          <td>{{ debtLoan.loanUserId }}</td>
          <td>{{ debtLoan.debtUserId }}</td>
          <td>{{ debtLoan.cost }}</td>
          <td>{{ debtLoan.deadline | formatMediumDatetime }}</td>
          <td>{{ debtLoan.datOfPayment | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="debtLoan.debts">
              <a [routerLink]="['/profiles', debtLoan.debts.profileId, 'view']">{{ debtLoan.debts.profileId }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="debtLoan.loans">
              <a [routerLink]="['/profiles', debtLoan.loans.profileId, 'view']">{{ debtLoan.loans.profileId }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/debt-loan', debtLoan.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/debt-loan', debtLoan.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(debtLoan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="debtLoans && debtLoans.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
